*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 30px;
}

.header , .footer{
    width: 100%;
    height: 100px;
    background-color: blue;
}

.header , .maincontent , .nav ,  .sidebar , .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    width: 25%;
    height: 350px;
    background-color: lightblue;
}

.maincontent{
    width: 50%;
    height: 350px;
    margin: 0 25px;
    background-color: gray;
}
.sidebar{
    width: 25%;
    height: 350px;
    background-color: lightblue;
}

@media only screen and (max-width: 600px) {

    .header , .footer{
        width: 100%;
        height: 50px;
    }
    .container{
        margin: 10px 0;
        display: block;
    }
    .nav{
        width: 100%;
        height: 100px;
    }
    .maincontent{
        margin: 10px 0;
        width: 100%;
        height: 100px;
    }
    .sidebar{
        width: 100%;
        height: 100px;
    }
} 


@media (min-width: 600px ) and (max-width: 992px) {
    .header , .footer{
        width: 100%;
        height: 100px;
    }
    .nav{
        width: 30%;
    }
    .maincontent{
        width: 30%;
    }
    .sidebar{
        width: 30%;
    }
}